.ipfs
book_zwis
dist
Linux
Mac
electron-print-test
data
10379
10752
10752.zwi
database
node_modules
PG_data
v1fixers/PG_data
v1fixers/identity
v1fixers/database
v1fixers/redone_zwis
v1fixers/redone_zwis_unzipped
v1fixers/pg_catalog.csv
v1fixers/pg_catalog2.pds
new_zwis
new_zwis_unzipped
metadatabase1.2 copy.json
book_urls.txt
BlogPost.pdf
ProjectGutenberg
gutenberg_content.html
output.epub
v1fixers/drive_updater*
Linux.zip