body {
    overflow-y: scroll; /* always show scrollbar to prevent lateral shifting */
    margin-top: unset !important;
    padding-top: 100px !important;
    /* Adjust based on the header's height to ensure content starts below the header */
    font-family: Arial, sans-serif;
    font-size: unset !important;
    color: black !important;
    background-color: white !important;
    width: unset !important;
}

/* Ensure the header stays fixed at the top of the viewport with original styling */
body > #header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Header takes full viewport width */
    z-index: 1000;
    background-color: #007BFF;
    /* Background color extends across the full width */
    color: white !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: unset !important;
}

/* Category page titles */
body > div#body > h1 {
    margin-left: 10px;
}

h1#headTitle {
    color: white !important;
}

#header-content {
    max-width: 800px;
    min-height: 56px;
    margin: 0 auto;
    /* Centers the content within the header */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 10px;
    /* Padding inside the content container */
}

#header-content #headTitle {
    font-family: Arial, sans-serif !important;
    font-weight: bold !important;
    line-height: normal !important;
    letter-spacing: normal !important;
    word-spacing: normal !important;
    font-variant: normal !important;
    padding: 0px !important;
    max-width: 60%;
    text-align: left !important;
    /* Adjust based on your header's layout and size */
    margin: 0 auto !important;
    /* Center the title if there's space */
}

/* Fixes specific problem with wonky PG CSS */
#header a img {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

h2, h3, h4, h5, h6, p, td {
    color: black !important;
}

.dropdown {
    background-color: white;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    top: 70px;
    left: calc(50% + 10px);
    /* Adjusted for centering around 300px width */
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    overflow: hidden;
    z-index: 100;
    /* Ensures nothing spills out */
}

.dropdown p {
    /* Assuming your snippet is within <p> tags */
    white-space: normal;
    /* Allows text to wrap */
    overflow-wrap: break-word;
    /* Breaks long words that can't be wrapped */
}

.dropdown-btn {
    text-decoration: none;
    color: black;
    background-color: lightgray;
    padding: 4px 8px;
    border-radius: 3px;
    font-size: 12px !important;
    line-height: normal !important;
    overflow: hidden;
    /* Hide overflow to maintain the shape of buttons */
}

.dropdown-btn img {
    vertical-align: middle;
    margin-right: 5px;
}

#sortDropdown {
    display: none;
    left: calc(50% + 220px);
}

.sort-button-highlighted {
    background-color: #2f93ff;
    color: white;
}

/* Loading message animation */
@keyframes fadeInOut {
    0%,
    100% {
        opacity: 0.1;
    }
    50% {
        opacity: 1;
    }
}

#loadingMessage {
    animation: fadeInOut 750ms infinite;
    text-align: left;
    margin: 10px 0px 20px 20px;
    color: black;
}

.header-btn {
    background: inherit !important;
    outline: none;
    border: none;
    display: flex;
    padding: 10px;
    /* Increase padding to make the whole area clickable */
    border-radius: 10px;
    transition: background-color 0.1s;
}

.header-btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
    /* Optional: Change background color on hover */
}

#tagline {
    font-size: 10px;
}

/* Media query for print and PDF*/
@media print {
    @page { 
        size: auto; 
        margin: 100px 0 !important;
    }

    @bottom-right {
        content: "Page " counter(page);
        margin-right: 10px;
        font-size: 20px;
    }

    p {
        font-size: 20px;
    }
    
    /* Hide the header when printing */
    #header,
    #findOnPage {
        height: 0px;
        display: none !important;
    }

    #book-content {
        border: none !important;
    }
    body {
        background: white !important;
    }

    .poetrySwitch {
        display: none;
    }
}

/* print header */
header {
    display: none;
}


/* Responsive font size for larger viewports */
@media (min-width: 850px) {
    #headTitle {
        font-size: 1.5em !important;
    }
}

/* Responsive adjustments for viewports between 770px and 850px */
@media (min-width: 650px) and (max-width: 850px) {
    #headTitle {
        font-size: 1.2em !important;
    }

    #tagline {
        margin: 0 10px;
        /* Adjust margins */
    }

    #sortDropdown {
        left: calc(50% + 175px);
    }
}

/* Responsive adjustments for smaller viewports below 770px */
@media (max-width: 675px) {
    #headTitle {
        font-size: 1em !important;
        /* Further reduce font size for smaller screens */
        /*white-space: nowrap;  Prevent wrapping to maintain layout */
    }

    #tagline {
        display: none;
        /* Hide tagline on smaller viewports */
    }

    #tagline,
    #savedBooksLink {
        margin: 0 10px;
        /* Adjust margins */
    }

    #sortDropdown {
        left: calc(50% + 75px);
    }    
}

.header-container {
    display: flex;
    gap: 0px;
    margin-right: 20px;
}


.header-container img {
    height: 24px;
    width: auto;
}


#body {
    margin: 0 auto !important;
    /* Center the content */
    max-width: 800px !important;
    /* Max content width */
}

.searchResultItem {
    margin-bottom: 10px;
    /* Adds space between each book-and-author unit */
}

.searchResultItem a {
    display: block;
    /* Makes the title take up the full width, pushing the author to a new line */
    color: #007bff;
    /* Adjust the color as needed */
    font-weight: bold;
    /* Makes the title stand out */
    text-decoration: none;
    /* Removes underline from links */
}

.searchResultItem .title {
    font-family: Times;
}

.subtitle {
    font-family: Times;
    font-size: 0.9em;
    font-weight: 500;
}

.searchResultItem .author {
    margin-left: 20px;
    /* Slightly indents the author */
    font-size: 0.9em;
    /* Makes the author a tiny bit smaller */
    color: #555;
    /* Adjust the color as needed */
}


#searchContainer {
    display: flex;
    gap: 10px;
    /* Space between elements */
    align-items: center;
    /* Align items vertically */
    max-width: 500px;
    /* Max width of search box */
    margin-left: 20px;
    /* Align to the left with some space */
}

#searchBox {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: inherit;
    width: 400px;
    /* Fixed width */
}

#searchButton {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: inherit;
}

#searchButton:hover {
    background-color: #0056b3;
}

#searchOptions {
    display: inline-flex;
    justify-content: flex-start;
    /* Align items to the start */
    gap: 5px;
    /* Spacing between radio buttons and labels */
    margin-top: 10px;
    /* Spacing below the search box */
    margin-left: 20px;
    /* Align to the left with the search box */
}

#searchOptions input[type="radio"] {
    margin: 0;
    cursor: pointer;
}

#searchOptions label {
    cursor: pointer;
    font-size: 0.9em;
}

#searchResults {
    margin-top: 20px;
    /* Space between search options and results */
    margin-left: 20px;
    /* Align to the left with the search box */
}



/* Tabs container */
#bookshelfTabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabContent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

/* Styles the container to align the button to the right */
.remove-all-button-container {
    display: flex;
    padding-bottom: 5px;
    justify-content: flex-end;
}

/* Styles "Remove all" button */
.remove-all-button-container button {
    padding: 5px 10px;
    background-color: #ff786e; /* Red color to indicate a delete action */
    background-color;
    font-size: small;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.remove-all-button-container button:hover {
    background-color: #ff2111;
}


.tab.active {
    background-color: #007BFF;
    color: white;
    font-weight: bold;
}


#bookshelfControls {
    float: right;
    /* Float the image to the right */
    margin: 0 0 10px 10px;
    /* Add some margin to create space between the image and the text */
}

#bookshelfAddRemove {
    color: white;
    font-size: 32px;
    cursor: pointer;
}

/* More bookshelf styling */
/* Positioning and visibility handling for the trash icon within the book items under tabContent */
.tabContent .searchResultItem {
    position: relative; /* Needed for absolute positioning of the trash icon */
    padding: 5px;
}

.tabContent .searchResultItem .trashIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; /* Adjust size as needed */
    display: none; /* Hidden by default */
    cursor: pointer;
    color: grey !important;
}

/* Show the trash icon and change item background on hover within tabContent */
.tabContent .searchResultItem:hover .trashIcon {
    display: block;
}

.tabContent .searchResultItem:hover {
    background-color: #f0f0f0; /* Light grey background on hover */
    border-radius: 8px;
}


#headTitle a.more {
    font-size: 16px !important;
    vertical-align: middle !important;
    background-color: unset !important;
}

a.more:visited,
a.more:link {
    color: lightblue;
}

a.more:hover {
    color: yellow;
}

#pagination-controls {
    margin-top: 20px;
    text-align: center;
}

#prev,
#next {
    padding: 5px 10px;
    margin: 0 10px;
}

#book-content {
    overflow-y: auto;
    /* Scrollable content */
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.word-count {
    display: block;
    text-align: right;
    position:inherit;
    padding-bottom: 10px;
    padding-right: 10px;
    font-size: 1.2em;
    color: black;
}

.count-popup {
    display: none;
    position: absolute;
    background-color: white;
    margin: 13px 0 0 13px;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    z-index: 1000;
    font-size: 16px;
    border-radius: 5px;
    white-space: nowrap;
}

#book-content p.titlepage,
#book-content p.titlepage p,
#book-content p.center,
#book-content p.center p,
.center,
.front, .front p, 
.ph2 p, .c p,
.caption p,
.booktitle,
.h1.paragraph,
.h1.paragraph p
.h2.paragraph,
.h2.paragraph p,
.h3.paragraph,
.h3.paragraph p,
.volumedate.paragraph,
.volumedate.paragraph p,
p.by, p.author, p.transl, p.co, p.year,
p.by p, p.author p, p.transl p, p.co p, p.year p,
h1.center, h2.center, .ctr, .ctr p, .cen,
.cen p, .title p, p.bold, .bold2 p,
.cbig250 p, p.toc p {
    text-align: center !important;
}

.blk .toc {
    margin: 1em auto !important;
}

.letra {
    padding-right: 10px;
}

#book-content img {
    cursor: pointer;
}

.count {
    font-size: 0.8em;
    font-style: italic;
    color: green;
}

.from-plaintext p {
    margin: 0;
    line-height: 1.2;
}

pre {
    text-wrap: wrap;
    margin: 10px 30px !important;
}

.single-spaced p, p.single-spaced {
    line-height: 0.4;  /* A smaller line height for tighter spacing */
}

/* Base styling for paragraph containers */
.bm-paragraph {
    position: relative;
    display: block;
    /* Ensure block-level element behavior */
    margin-left: 20px !important;
    /* Reduced left margin */
    margin-right: 20px !important;
    /* New right margin for symmetry */
    text-indent: unset !important;
}

/* Extend the clickable area using ::before pseudo-element */
.bm-paragraph::before {
    content: '';
    position: absolute;
    left: -30px;
    /* Position relative to the paragraph */
    width: 30px;
    /* Width of the clickable area */
    height: 100%;
    /* Full height of the paragraph */
    z-index: 500;
    /* Lower than the icon but above other content */
    cursor: pointer;
}

span.scenenum {
    position: unset !important;
}

.pagenum:not(p .pagenum), p .pagenum, .xxpn, .stpagenum, .pb {
    position: unset !important;
    float: right;
    clear: right;
    padding: 13px 0 0 10px !important;
    color: gray;
    border: none !important;
    background-color: #fff !important;
}

.pagenum a {
    border: none !important;
}

/* weird pagenums in "Institutes of the Christian Religion */
.tei-pb {
    position: unset !important;
    float: right !important;
    padding: 13px 0 0 10px !important;
    color: gray !important;
    border: none !important;
    width: unset !important;
}

.sidenote, .fn {
    display: inline-block !important;
    position: unset !important;
    width: 100px !important;
    padding: 3px !important;
}

.sidenote {
    float: right !important;
    margin: 10px 0px 10px 10px !important;
}

.sidenote p {
    text-indent: 0%  !important;
    padding-left: 5px;
}

.chapnum {
    position: unset !important;
}

.linenum {
    position: unset !important;
    float: right !important;
    margin: 0px 0px 0px 10px !important;
    left: unset !important;
    color: gray !important;
}

.fn {
    float: right !important;
    margin: 10px 10px 10px 0 !important;
}

.poem .sidenote {
    width: 20% !important;
    padding-bottom: .5em !important;
    padding-top: .5em !important;
    padding-left: .5em !important;
    padding-right: .5em !important;
    margin-left: 1em !important;
    float: right !important;
    clear: right !important;
    margin-top: 1em !important;
    font-size: smaller !important;
    color: black !important;
    background: #eeeeee !important;
    border: dashed 1px !important;
}

.verse .sidenote {
    float: right !important;
    padding: 5px !important;
}

.footnote .label {
    position: unset !important;
    right: unset !important;
}

a:has(> sup) {
    text-decoration-line: none !important; /* Force override of browser default styles */
}

.bm-paragraph a img {
    position: relative !important;
    z-index: 1 !important;
}

/* Styling for bookmark icons */
.bookmark-icon {
    visibility: hidden;
    width: 16px;
    /* Reverting to original size */
    height: 16px;
    cursor: pointer;
    position: absolute;
    left: -20px;
    /* Adjust based on new clickable area size */
    top: 0;
    z-index: 500;
    /* Ensure the icon is above the clickable area */
}

/* Show bookmark icon when the parent paragraph is hovered */
.bm-paragraph:hover .bookmark-icon,
.bm-paragraph:hover::before {
    /* Make the ::before area visible on hover */
    visibility: visible;
}

/* Additional class for filled bookmarks */
.bookmark-icon.filled {
    content: url('images/icons/bookmark-fill.svg');
    /* Path to the filled bookmark icon */
    visibility: visible;
}

#bookmarksDropdown {
    color: black;
    max-height: unset !important;
}

.bookmark-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.bookmark-item img {
    width: 16px;
    /* Adjust size as needed */
    height: auto;
}

.bookmark-content {
    display: flex;
    align-items: start;
    /* Align items to the start of the flex container */
    gap: 10px;
    /* Space between icon and text/details */
}

.bookmark-snippet,
.bookmark-position {
    white-space: normal;
    /* Allows text to wrap */
    overflow-wrap: break-word;
    /* Breaks long words that can't be wrapped */
    max-width: 200px;
    /* Limit width to keep the layout tidy */
    cursor: pointer;
}

.bookmark-item span {
    display: block;
    /* Allows block level behaviors, like margin and width */
    margin-left: 5px;
    /* Space between the icon and the text */
    text-align: left;
    /* Align text to the left */
    overflow: hidden;
    /* Hide overflow text */
    white-space: normal;
    /* Allows text to wrap */
    text-overflow: clip;
    /* Clip the text instead of ellipsis */
    max-width: 265px;
    /* Adjusted width to fit the dropdown */
}

/* Remove any inline style for margin-left if present, use !important if necessary */
.bookmark-item span[style] {
    margin-left: 5px !important;
}

.delete-bookmark {
    width: 16px;
    /* Match the size of your bookmark icon */
    height: 16px;
    padding-left: 3px;
    cursor: pointer;
}

.bookmark-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    cursor: pointer;
}

.bookmark-percentage {
    font-size: 0.75rem;
    color: #333;
    padding: 10px 3px 0px 0px;
}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1001;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    background-color: transparent;
    /* Completely clear background */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 1% auto;
    /* 1% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    width: fit-content;
    /* Width defined by the content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Optional: adds a subtle shadow for better visibility */
}

.modal-content hr {
    margin: 10px !important;
}

/* The input field and button inside the modal */
#searchText,
#findButton {
    font-size: 1rem;
    padding: 5px;
    margin: 5px;
    /* Space around elements */
}

/* Apply styles to the input and button for consistency */
#searchText {
    border: 1px solid #ddd;
    border-radius: 4px;
}

#findButton {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#findButton:hover {
    background-color: #0056b3;
}


/* Style for buttons within the fontModal */
#fontModal button {
    font-size: 1rem;  /* Consistent font size */
    padding: 5px 20px 5px 5px;  /* Comfortable padding */
    background-color: #fff;  /* Background color for the button */
    color: #333;  /* Text color for readability */
    border: none;  /* No border for a cleaner look */
    cursor: pointer;  /* Cursor indicates clickable */
    display: block;  /* Make each button a block to stack vertically */
    width: 100%;  /* Full width of the container */
    box-sizing: border-box;  /* Include padding and border in the width */
    text-align: left;  /* Align text to the left side of the button */
}

#fontModal button:hover {
    background-color: #ccc;  /* Darker shade on hover for visual feedback */
}

#fontModal .label {
    margin: 5px;
    display: inline-block;
    font-weight: bold;
    color: red;
}

.label-serif {
    font-family: 'Liberation Serif', 'Times New Roman', Times, serif; 
}

.label-sansserif {
    font-family: Arial, Helvetica, sans-serif;   
}

.label-monospace {
    font-family: 'Courier New', Courier, monospace;
}


@font-face {
    font-family: 'Liberation Serif';
    src: url('fonts/LiberationSerif-Regular.ttf') format('truetype'),
         url('fonts/LiberationSerif-Bold.ttf') format('truetype'),
         url('fonts/LiberationSerif-Italic.ttf') format('truetype'),
         url('fonts/LiberationSerif-BoldItalic.ttf') format('truetype');
}

/* Default Cambria font */
@font-face {
    font-family: 'Cambria';
    src: url('fonts/Cambria-Font-For-Windows.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Cambria Windows */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @font-face {
        font-family: 'Cambria';
        src: url('fonts/Cambria-Font-For-Windows.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}
/* Cambria macOS */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
    @font-face {
        font-family: 'Cambria';
        src: url('fonts/Cambria-Font-For-MAC.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}
/* Cambria Linux */
@media all and (min--moz-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Cambria';
        src: url('fonts/Cambria-Font-For-Linux.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}

/* Serif Fonts */
#LiberationSerif {
    font-family: 'Liberation Serif', 'Times New Roman', Times, serif; 
}
#TimesNewRoman {
    font-family: 'Times New Roman', 'Liberation Serif', Times, serif; 
}
#Georgia {
    font-family: Georgia, 'Liberation Serif', 'Times New Roman', Times, serif;
}
#Cambria {
    font-family: Cambria, 'Liberation Serif', 'Times New Roman', Georgia, Times, serif;
}

/* Sans-Serif Fonts */
#Arial {
    font-family: Arial, Helvetica, sans-serif;
}
#Verdana {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#Calibri {
    font-family: Calibri, Arial, sans-serif;
}

/* Monospace Font */
#Courier {
    font-family: 'Courier New', Courier, monospace;
}

/* The Modal (background) */
.image-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    padding-top: 100px; /* Location of the box */
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.image-modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Content */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* The Close Button */
.close-this {
    position: absolute;
    top: 85px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 2000;
}

#findOnPage .close-this {
    display: none;
}

.close-this:hover,
.close-this:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* poetrySwitch */
/* Container for the switch, adding padding */
.switchContainer {
    text-align: right; /* Ensure it stays to the right */
    height: 80px;
}

.poetrySwitch {
    position: relative;
    float: right;
    display: flex;
    align-items: center;
    width: fit-content;
    float: right;
    border: 4px solid lightgrey;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

.poetrySwitch span.switchLabel {
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.9em;
}

.poetrySwitch span.leftLabel {
    padding-right: 3px;
    text-align: right;
}

.poetrySwitch span.rightLabel {
    padding-left: 10px;
    text-align: left;
}
  
  /* Hide default HTML checkbox */
  .poetrySwitch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
/* The slider */
.slider {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 60px;
    height: 34px;
    background-color: #139901;
    -webkit-transition: .2s;
    transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* ABOUT PAGE */

#abtoc .dropcap {
    color: #007BFF;
    float: left;
    font-size: 75px;
    line-height: 60px;
    padding-right: 8px;
    padding-left: 3px;
  }

.about-intro {
    padding: 0 10px;
}

/* Table of Contents Styles */
.abtoc {
    margin: 20px 0;
}

.abtoc ul {
    list-style-type: "⇒   ";
}

.abfeature {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.abfeature h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
}

.abfeature h2 a, .abtoc a {
    color: #007bff;
    text-decoration: none;
}

.abfeature h2 a:hover {
    text-decoration: underline;
}

.abfeature ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
}

.abfeature ul li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
}

.abfeature ul li:before {
    content: '\2022';
    color: #007bff;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.abfeature ul li.nobullet:before {
    display: none;
}

.abfeature ul li.nobullet img {
    height: 50px;
    float: left;
    margin-right: 10px;
}

.abfeature p {
    margin: 10px 0;
}

pre.ab {
    background: #f4f4f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    overflow-x: auto;
    font-family: 'Courier New', Courier, monospace;
}

.inline-button {
    padding: 2px;
    background-color: #007BFF;
    border-radius: 2px;
    display: inline-flex;
}

.inline-button {
    padding: 2px;
    background-color: #007BFF;
    border-radius: 2px;
    display: inline-flex;
}

.inline-button.noblue {
    background-color: unset;
}

.inline-button img {
    height: 13px;
}

h2 .inline-button img {
    height: 18px;
}

.ab-figure {
    float: right;
    width: 100px;
    margin-left: 15px; /* Optional: Adds some spacing between the text and the image */
    text-align: center; /* Center the caption under the image */
}

.ab-figure-img {
    width: 100%; /* Ensure the image fits within the figure */
}

.ab-figure-caption {
    font-size: 0.9em;
    color: #666; /* Optional: Caption color */
    display: block;
    margin-top: 5px; /* Adjust spacing as needed */
}
